<h1>Edytuj wydawnictwo</h1>

<%= render "form", publisher: @publisher %>

<br>

<div>
  <%= link_to "Pokaż to wydawnictwo", @publisher %> |
  <%= link_to "Powrót do listy wydawnictw", publishers_path %>
</div>
