<h1>Edytuj kategorię</h1>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to "Pokaż tę kategorię", @category %> |
  <%= link_to "Powrót do listy kategorii", categories_path %>
</div>
